<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>新增商品</title>
</head>
<body>
    <p>新增商品</p>
    <hr />
    <form method="post" action="/addProduct">
        <label>商品名稱:</label>
        <input name="name" type="text" value="{{ data.name }}" required /> <br>
    
        <label>商品說明:</label>
        <textarea name="content" type="text" required>{{ data.content }}</textarea> <br>

        <label>商品底價:</label>
        <input name="starting_price" type="number" value="{{ data.starting_price }}" required min="1" /> <br>

        <button type="submit" name="action" value="add"onclick="return confirm('新增成功')">新增</button>
        
    </form>

    <a href="/frontPage">回到首頁</a>
</body>
</html>

