<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ product_name }}的出價紀錄</title>
    <style>
        .logout-button {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 6px 12px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 4px;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <a href="/loginPage" class="logout-button">登出</a> <!-- 新增的登出按鈕 -->
    <p>{{ product_name }}的出價紀錄</p> <!-- 顯示商品名稱 -->
    <hr />
    <table width="600" border="1">
        <tr>
            <td>出價者</td>
            <td>價格</td>
            <td>出價時間</td>
        </tr>
        {% for rec in data %}
        <tr>
            <td>{{ rec.Uname }}</td>
            <td>{{ rec.now_price }}</td>
            <td>{{ rec.bid_time }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/frontPage">回到首頁</a>&nbsp;|&nbsp;<a href="/productlist">回到全部商品頁面</a>
</body>
</html>
