<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FrontPage</title>
<style>
    .logout-button {
        position: absolute; /* 使用絕對定位 */
        top: 10px; /* 距離頂部 10px */
        right: 10px; /* 距離右側 10px */
        padding: 6px 12px; /* 按鈕內邊距 */
        background-color: #007BFF; /* 按鈕顏色 */
        color: white; /* 按鈕文字顏色 */
        border: none; /* 去除邊框 */
        border-radius: 4px; /* 圓角 */
        text-decoration: none; /* 去除底線 */
        cursor: pointer; /* 鼠標變成手形 */
    }
</style>
</head>
<body>
    <a href="/loginPage" class="logout-button">登出</a> <!-- 新增的登出按鈕 -->
    <p>首頁</p>
    <hr>
    <p>您好，{{ name if name else "訪客" }}</p>  <!-- 顯示歡迎訊息和 Uid -->
    <a href="/productlist">全部商品清單</a> <br>
    <a href="/ownproductlist">個人商品清單</a> <br>
</body>
</html>
