<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>OrderList</title>
    <style>
        .logout-button {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 6px 12px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 4px;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <a href="/loginPage" class="logout-button">登出</a> <!-- 新增的登出按鈕 -->

    <p>訂單內容</p>
    <hr />
    <table width="800" border="1">
        <tr>
            <td>訂單編號</td>
            <td>餐廳名稱</td>
            <td>商品內容</td>
            <td>商品價格</td>
            <td>外送員</td>
            <td>抵達時間</td>
        </tr>
        {% for rec in data %}
        <tr>
            <td>{{ rec.order_id }}</td>
            <td>{{ rec.restaurant_name }}</td>
            <td>{{ rec.content }}</td>
            <td>{{ rec.price }}</td>
            <td>{{ rec.highest_price }}</td>
            <td>{{ rec.arrival_time }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/guestfrontPage">回到首頁</a>
</body>
</html>
