<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>客戶資料</title>
</head>
<body>
    <p>客戶資料編輯</p>
    <hr />
    <form method="post" action="/guestinformation">
        <!-- 隱藏欄位，用於保存 Gid -->
        <input type="text" name="Gid" value="{{ Gid }}" />

        <label>客戶姓名:</label>
        <input name="name" type="text" value="{{ data.name }}" required /> <br>

        <label>電話號碼:</label>
        <input name="phone" type="text" value="{{ data.phone }}" required /> <br>

        <label>外送地址:</label>
        <input name="address" type="text" value="{{ data.address }}" required /> <br>

        <button type="submit" onclick="return confirm('確定要儲存嗎？')">儲存</button>
    </form>

    <a href="/frontPage">回到首頁</a>
</body>
</html>
